@{
    ViewData["Title"] = "Add Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Misison12GroupProject.Models.ViewModels.AppointmentsViewModel

<form method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    @*Show the errors*@

    <h4>Add Appointment</h4>

    <div class="form-group">
        <label asp-for="@Model.GroupInfo.GroupName">Group Name:</label><input asp-for="@Model.GroupInfo.GroupName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.GroupInfo.GroupSize">Group Size:</label><input asp-for="@Model.GroupInfo.GroupSize" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.GroupInfo.email">Email:</label><input asp-for="@Model.GroupInfo.email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.GroupInfo.phone">Phone Number:</label><input asp-for="@Model.GroupInfo.phone" class="form-control" />
    </div>

    <div class="float-end">
        <input class="btn btn-info" type="submit" value="Save Appointment" />
        <input type="hidden" name="id" value="@Model.Appointment.AppointmentID" />
    </div>

</form>

