
@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<GroupInfo>

<h1>Appointments</h1>

<table class="table table-bordered">

    <thead>
        <td>Group Name</td>
        <td>Group Size</td>
        <td>Email</td>
        <td>Phone Number</td>
        <td>Appointment Time</td>
    </thead>

    <tbody>
        @foreach(var x in Model)
            {
            <tr>
                <td>@x.GroupName</td>
                <td>@x.GroupSize</td>
                <td>@x.email</td>
                <td>@x.phone</td>
                <td>@x.Appointment</td>

            </tr>
            }


    </tbody>

</table>
